<% if user.avatar.nil? %>
  <div class="bg-primary rounded-circle p-2 text-white font-weight-bolder d-flex justify-content-center align-items-center" style = "width: 30px; height: 30px;">
    <%= user.firsl_letter_full_name %>
  </div>
<% end %>