<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">Fotobook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarSupportedContent">
      <div class="container">
        <form class="form-inline ">
          <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search Photo / Album" aria-label="Search">
        </form>
      </div>
      <div class="d-flex font-weight-bold d-sm-none d-lg-flex">

        <%= render "shared/avatar", user: user%>

        <span class="text-white text-nowrap my-auto pl-2">
          <%= user.first_name + " " + user.last_name%>
        </span>
      </div>
      <a class="nav-link text-light font-weight-bold d-lg-none" href="#">Feeds</a>
      <a class="nav-link text-light font-weight-bold d-lg-none" href="#">My Photos</a>
      <a class="nav-link text-light font-weight-bold d-lg-none" href="#">My Albums</a>
      <%= button_to "Logout", destroy_user_session_path, method: 'delete', class: "nav-link text-light font-weight-bold bg-transparent border-0"%>
      <!-- navigaror  -->
    </div>
  </div>
</nav>