<div class="btn-group w-25 py-4" role="group">
  <%= link_to "Photo", feed_user_photos_path(user), class: "btn btn-outline-secondary text-primary font-weight-bolder" %>
  <button type="button" class="btn btn-primary font-weight-bolder">Album</button>
</div>