<%if user.avatar.nil? %>
  <div class="text-primary bg-white rounded-circle p-1 my-auto " style = "width: 30px; height: 30px;">
    <%=user.first_name.first.upcase + user.last_name.first.upcase%>
  </div>
<%end%>